<link rel="stylesheet" href="/styles/design-inicio-estudiante.css" />
<!-- Encabezado y navegacion por defecto, a excepcion de la pantalla de inicio de sesion -->
{{> header-student}} <!-- Importacion para encabezado del estudiante -->

<div id="card">
  <span id="text-card">Bienvenido a la plataforma</span>
</div>