<link rel="stylesheet" href="../styles/observador.css" />
<!-- Encabezado y navegacion por defecto, a excepcion de la pantalla de inicio de sesion -->
{{> header-student}} <!-- Importacion para encabezado del estudiante -->

<!-- Entrada de comentarios del observador -->
<form id="container">
  <label id="box-title">Observador</label>
  <textarea id="box-text" rows="10" name="observador"></textarea>
  <button id="btn-submit">Aceptar</button>
</form>