/* Importacion de propiedades personalizadas */
@import url(root.css);

body {
  height: auto;
  margin: 0;
}

a {
  text-decoration: none;
}

.container-logo {
  background-color: #F3F9FF;
  padding: 4rem 1rem 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

#logo-img {
  width: 6.5rem;
  height: 7.375rem;
  transition-duration: 200ms;
}

#text-logo {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 900;
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

button {
  width: 8rem;
  height: 2.25rem;
  border-radius: 4px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
}

#btn-explorar {
  border: none;
  background-color: #1ca4c4;
}

#a-explorar {
  color: var(--text-color);
}

#btn-campus {
  background-color: #f8f9fb;
  border: 2px solid #1ca4c4;
}

#a-campus {
  color: #1ca4c4;
}

#buttons {
  display: flex;
  gap: 2.5rem;
}

.section {
  padding: 3.5rem 0 4.125rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

.articles {
  width: 100%;
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

p {
  margin: auto;
}

.subtitle {
  color: #1ca4c4;
  font-weight: 600;
  text-align: center;
}

#gestion {
  background-color: #F3F9FF;
}

#puzzle {
  height: 7.25rem;
  width: auto;
}

footer {
  background-color: #F3F9FF;
  border-top: thin solid rgb(236, 236, 236);
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .875rem;
}

#title-footer {
  font-size: 20px;
  font-weight: 900;
  color: var(--text-color-secundary);
}

#contacto,
#derechos {
  font-size: 12px;
  font-weight: 600;
  color: var(--text-color-secundary);
}

@media (min-width: 720px) {
  .container-logo{
    padding: 4.5rem 0 4.5rem 0;
  }

  .articles{
    padding: 3rem 1rem 3rem 1rem;
  }

  #logo-img {
    width: 8rem;
    height: 10rem;
  }

  #text-logo{
    font-size: 22px;
  }

  #buttons{
    gap: 4rem;
  }

  .subtitle{
    font-size: 18px;
  }
}

@media (min-width: 820px) {
  p{
    width: 60%;
  }
}
