<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- importacion de tipografias, hojas de estilo y favicon -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;900&display=swap"
    />
    <link rel="shortcut icon" href="/assets/logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/landing-page.css" />
    <title>SchoolProject</title>
  </head>
  <body>
    <div class="container-logo">
      <div id="logo">
        <img id="logo-img" src="/assets/logo.svg" alt="SchoolProject" />
        <span id="text-logo">SchoolProject</span>
      </div>
      <div id="buttons">
        <button id="btn-explorar">
           Explorar
        </button>
        <button id="btn-campus">
          <a id="a-campus" href="#">Campus virtual</a>
        </button>
      </div>
    </div>
    <section class="section">
      <article id="acerca-de" class="articles">
        <span class="subtitle">Acerca de SchoolProject</span>
          <p>
            SchoolProject es un software basado en la nube que apoya la gestión
            de la educación académica y administrativa en las instituciones
            educativas.
          </p>
        <img src="/assets/cloud.jpg" alt="cloud" />
      </article>
      <article id="gestion" class="articles">
        <span class="subtitle">Gestión académica</span>
        <p>
          Administre la información de sus estudiantes de manera general,
          agilice procesos como inscripción y registro de calificaciones.
        </p>
        <img id="puzzle" src="/assets/puzzle.svg" alt="puzzle" />
      </article>
      <article id="update" class="articles">
        <span class="subtitle"
          >SchoolProject es seguro y recibe soporte constantemente</span
        >
        <img id="img-update" src="/assets/update.svg" alt="update" />
      </article>
    </section>
    <footer>
      <span id="title-footer"> SchoolProject </span>
      <span id="contacto">Contactenos: correo@gmail.com</span>
      <span id="derechos">Todos los derechos reservados.</span>
    </footer>
  </body>
   <script src="/js/landing.js"></script>
</html>