<html lang="es-ES">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- importacion de tipografias, hojas de estilo y favicon -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="assets/logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="styles/landing.css" />
    <script
      src="https://kit.fontawesome.com/2db2d1eed0.js"
      crossorigin="anonymous"
    ></script>
    <title>SchoolProject</title>
  </head>
  <body>
    <span id="top"></span>
    <div class="logo-container">
      <div id="logo">
        <img id="img-logo" src="assets/logo-white.svg" alt="Logo" />
        <span id="text-logo">SchoolProject</span>
        <button id="btn-campus"><a href="../api/v1/user/singIn">
            Campus Virtual
          </a></button>
      </div>
    </div>
    <a href="#parrafo">
      <i id="down" class="fa-solid fa-angles-down fa-xl fa-bounce"></i>
    </a>
    <p id="parrafo">Gestione su información académica de manera integral.</p>
    <section class="section-container">
      <article id="acerca-de">
        <img class="post" src="assets/acerca-de.svg" alt="acerca de" />
        <span class="subtitle">Acerca de</span>
        <p class="article-p">
          SchoolProject es un software basado en la nube que apoya la gestión de
          la educación académica y administrativa en las instituciones
          educativas.
        </p>
      </article>
      <article id="gestion">
        <img class="post" src="assets/gestion.svg" alt="gestion" />
        <span class="subtitle">Gestión Académica</span>
        <p class="article-p">
          Administre la información de sus estudiantes de manera general para
          agilizar procesos como inscripción, registro de calificaciones y
          evaluación de maestros.
        </p>
      </article>
      <article id="soporte">
        <img class="post" src="assets/update.svg" alt="soporte" />
        <span class="subtitle">Seguro</span>
        <p class="article-p">Confiable, seguro y en continuo mejoramiento.</p>
      </article>
    </section>
    <a href="#top">
      <i id="up" class="fa-solid fa-angles-up fa-xl"></i>
    </a>
    <footer>
      <span id="title-footer"> SchoolProject </span>
      <span id="contacto">Contactenos:<br>schoolproject@gmail.com</span>
      <span id="derechos">Todos los derechos reservados.</span>
    </footer>
  </body>
</html>