<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- importacion de tipografias, hojas de estilo y favicon -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap"
    />
    <link rel="shortcut icon" href="/assets/logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/design-index.css" />
    <title>Gestión Académica</title>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img class="logo-img" src="/assets/logo.svg" />
        <p class="logo-info">Sistema de Gestión Académico</p>
      </div>

      <!-- Entrada de correo y contraseña -->
      <form id="login" action="" class="login">
        <input
          class="input"
          id="input-email"
          type="email"
          placeholder="Nombre de usuario"
          name="email"
        />
        <input
          class="input"
          type="password"
          placeholder="Contraseña"
          name="contraseña"
        />
        <button class="btn-login" id="btn-login">Ingresar</button>
      </form>
    </div>
  </body>
    <script src="/js/login.js"></script>
</html>
