<!-- Encabezado y navegacion por defecto, a excepcion de la pantalla de inicio de sesion -->
<header class="header">
  <nav class="nav">
    <p class="logo"><a href="../user/admin">Gestión Académica</a></p>
    <button class="btn-menu">
      <img id="img-menu" src="/assets/menu.svg" />
    </button>
    <div class="submenu-container">
      <!-- Menu desplegable -->
      <div class="drop-btn">
        <span class="submenu">Institucional</span>
        <div id="drop-content">
          <a href="#">Estudiantes</a>
          <a href="#">Docentes</a>
        </div>
      </div>
      <div class="drop-btn">
        <span class="submenu">Académico</span>
        <div id="drop-content">
          <a href="../user/asignarArea">Asignar area</a>
          <a href="#">Notas</a>
          <a href="#">Observador</a>
        </div>
      </div>
      <div class="drop-btn">
        <span class="submenu">Registro</span>
        <div id="drop-content">
          <a href="../user/singUp">Usuarios</a>
          <a href="../curso/createCurso">Cursos</a>
          <a href="../asignatura/createAsignatura">Asignaturas</a>
          <a href="../sede/createSede">Sedes</a>
        </div>
      </div>
      <span class="submenu"><a href="../user/singIn">Cerrar sesión</a></span>
    </div>
  </nav>
</header>
