<!-- Entrada de comentarios del observador -->
<form id="container">
    <label class="box-title">Buscar estudiante</label>
    <div id="c-filtro">
        <input type="text" id="filtro" placeholder="DNI" maxlength="12" />
        <input type="text" id="resultados" placeholder="Resultados" readonly />
    </div>
    <label class="box-title">Observador</label>
    <textarea id="box-text" rows="10" name="observador"></textarea>
    <button id="btn-submit">Aceptar</button>
</form>