/* Importacion de propiedades personalizadas */
@import url(../styles/root.css);
/* Importacion de encabezado y navegacion por defecto */
@import url(../styles/navegacion-default.css);
/* Importacion de estilos de formulario para registro y actualizacion de datos*/
@import url(../styles/formularios.css);
/* Importacion de estilos de tablas */
@import url(../styles/tablas.css);

body {
  height: 100vh;
  margin: 0;
}

.container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 1.5rem auto 2rem;
  border: 2px solid var(--block-color);
  border-radius: 4px;
}

#input-search {
  width: auto;
}

.container-btn {
  width: auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btn {
  height: 2.125rem;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  color: var(--text-color);
  background-color: var(--primary-color);
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  transition-duration: 100ms;
}

.btn:active {
  background-color: var(--hover-color);
}

#correo {
  display: none;
}

@media (min-width: 800px) {
  .container {
    width: 38rem;
  }

  #correo {
    display: block;
  }
}
