<!-- Encabezado y navegacion por defecto, a excepcion de la pantalla de inicio de sesion -->
<link rel="stylesheet" href="/admin-styles/registrar-curso.css" />
<!-- Importacion para encabezado del administrador -->
{{> header-admin}}

<!-- Contenedor y entrada de datos para registrar cursos -->
<form id="inputs-container" action="../curso/createCurso" method="post">
    <span id="label-title">Registrar curso</span>
    <div class="inputs-childs">
        <label for="">Nombre del curso</label>
        <input type="text" name="curso" />
    </div>
    <div class="inputs-childs">
        <label for="">Jornada</label>
        <select name="jornada_id" id="jornada">
        </select>
    </div>


    <button id="submit">Añadir</button>
</form>

<!-- CRUD -->
<table id="table">
    <tr>
        <th class="column">Curso</th>
        <th class="column">Jornada</th>
        <th class="column">Acciones</th>
    </tr>
  <!--  <tr>
        <td id="color" class="row"></td>
        <td id="color" class="row"></td>
        <td id="color" class="row"></td>
        <td id="color" class="row">
            <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-trash"></i>
        </td>
    </tr>-->
</table>
<script src="/js/getJornadas.js"></script>

<script src="/js/tablaCursos.js"></script>
