<link rel="stylesheet" href="/admin-styles/registrar-estudiante.css" />
<!-- Encabezado y navegacion por defecto, a excepcion de la pantalla de inicio de sesion -->
{{> header-admin}} <!-- Importacion para encabezado del administrador -->

<!-- Contenedor y entrada de datos para registrar estudiantes, inputs y dropbox -->
<form id="inputs-container">
  <span id="label-title">Registrar estudiante</span>
  <div class="inputs-childs">
    <label for="">Nombres</label>
    <input type="text" name="nombre" />
  </div>
  <div class="inputs-childs">
    <label for="">Primer apellido</label>
    <input type="text" name="primer-apellido" />
  </div>
  <div class="inputs-childs">
    <label for="">Segundo apellido</label>
    <input type="text" name="segundo-apellido" />
  </div>
  <div class="inputs-childs">
    <label for="">Tipo de identificación</label>
    <select name="tipo_doc_id">
      <option disabled selected>Seleccione</option>
      <option value="cc">C.C</option>
      <option value="ti">T.I</option>
    </select>
  </div>
  <div class="inputs-childs">
    <label for="">Número de identificación</label>
    <input type="text" name="dni" />
  </div>
  <div class="inputs-childs">
    <label for="">Sede</label>
    <input type="text" name="sede" />
  </div>
  <div class="inputs-childs">
    <label for="">Tipo de usuario</label>
    <select name="rol_id" id="rol">
      <option disabled selected>Seleccione</option>
      <option value="estudiante">Estudiante</option>
      <option value="docente">Docente</option>
    </select>
  </div>
  <div class="inputs-childs">
    <label for="">Curso</label>
    <input type="text" name="curso_id" />
  </div>
  <div class="inputs-childs">
    <label for="">Jornada</label>
    <input type="text" name="jornada" />
  </div>
  <div class="inputs-childs">
    <label for="">Correo electrónico</label>
    <input id="correo-validate" type="email" name="email" />
  </div>
  <div class="inputs-childs">
    <label for="">Contraseña</label>
    <input type="text" name="contraseña" />
  </div>
  <button id="btn-accept">Aceptar</button>
</form>