<!-- Encabezado y navegacion por defecto, a excepcion de la pantalla de inicio de sesion -->
<link rel="stylesheet" href="/admin-styles/registrar-materia.css" />
<!-- Importacion para encabezado del administrador -->
{{> header-admin}}

<!-- Contenedor y entrada de datos para registrar materias -->
<form id="inputs-container" action="../asignatura/createAsignatura" method="post">
    <span id="label-title">Registrar asignatura</span>
    <div class="inputs-childs">
        <label for="">Nombre de la asignatura</label>
        <input type="text" name="nombre_materia" />
    </div>
    <!--<div class="inputs-childs">
        <label for="">Profesor</label>
        <select name="user_id" id="profesores">
        </select>
    </div>-->

    <button id="submit">Añadir</button>
</form>

<!-- CRUD -->
<table id="table">
    <tr>
        <th class="column">Asignatura</th>
        <th class="column">Acciones</th>
    </tr>

    <!--<tr>
        <td id="color" class="row"></td>
        <td id="color" class="row">
            <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-trash"></i>
        </td>-->
    </tr>
</table>
<script src="/js/tablaAsignaturas.js"></script>
