<!-- Encabezado y navegacion por defecto, a excepcion de la pantalla de inicio de sesion -->
<link rel="stylesheet" href="/admin-styles/registrar-instituto.css" />
<!-- Importacion para encabezado del administrador -->
{{> header-admin}}

<!-- Contenedor y entrada de datos para registrar instituciones -->
<form id="inputs-container" action="../sede/createSede" method="post">
    <span id="label-title">Registrar sede</span>
    <div class="inputs-childs">
        <label for="">Nombre de la sede</label>
        <input type="text" name="nombres_sede" id="nombre" />
    </div>

    <button id="submit">Añadir</button>
</form>

<!-- CRUD -->
<table id="table">
    <tr>
        <th class="column">Sedes</th>
        <th class="column">Acciones</th>
    </tr>

</table>
<script src="/js/tablaSedes.js" type="module"></script>
<script src="/js/deleteSede.js" type="module"></script>

